<top-bar></top-bar>

<div class="container">
    <mat-card style="padding: 10px;">
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <h2 *ngIf="randomQuestion">{{randomQuestion[0].question}}</h2>
                </div>
                <div class="col-md-6">
                    <img style="max-width: 600px;max-height: 800px;margin:auto" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding: 10px;">
                    <form *ngIf="randomQuestion" [formGroup]="formAnswers" (ngSubmit)="submitAnswer()">
                        <mat-radio-group formControlName="selectedAnswer">
                          <mat-radio-button *ngFor="let option of randomQuestion[0].choices" [value]="option">
                                {{ option }}
                          </mat-radio-button>
                        </mat-radio-group>
                        <br>
                        <button mat-raised-button color="primary" type="submit" style="margin: 5px">Submit</button>
                  </form>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

