<p>individual-trivia works!</p>

<div class="container" style="border: 10px solid black;">
    <mat-grid-list cols="6" >
        <mat-grid-tile style="justify-content: center;">
            <h2 *ngIf="randomQuestion">{{randomQuestion[0].question}}</h2>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="6" >
        <mat-grid-tile>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-grid-tile>
    </mat-grid-list>

    <div>
        <form *ngIf="randomQuestion" [formGroup]="formAnswers" (ngSubmit)="submitAnswer()">
            <mat-radio-group formControlName="selectedAnswer">
              <mat-radio-button *ngFor="let option of randomQuestion[0].choices" [value]="option">
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
        <button mat-raised-button color="primary" (click)="nextQuestion()">Next Question</button>
    </div>

</div>

