.logo {
  background-image: url('src/assets/vueling-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  scale: 0.7;
}

mat-toolbar {
}

mat-toolbar-row {
  background-color: gold;
}

.right-objects {
  float: right;
}

.left-objects {
  margin-left: -50px;
  float: right;
}

.big-div {
  margn-top: 400px;
}

.button {
  font-size: 20px;
  padding: 150px 100px;
  width: 40%;
  background-color: grey;
}
