.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  float: left;
  margin-left: -550px;
  width: 400px;
  padding: 30px;
}

.background-div {
  background-image: url('src/assets/yellow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
