table {
  display: grid;
  justify-content: center;
  width: 100%;
}

.mat-header-cell, mat-cell {
  text-align: center;
}

table {
  box-shadow: none;
}

.container {
    padding: 1%;
}

td,th {
    margin-left: 200px;
    margin-right: 200px;
}


